doctype html
html
  head
    script(src="http://threejs.org/build/three.min.js")
   
    script(src="/js/three.js")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Hackathon Starter
    != css('main')
  body
    include partials/header
    script(src="http://mrdoob.github.com/three.js/examples/fonts/helvetiker_regular.typeface.js")
    This is a test: does this work?
    script(src="/js/text.js")
      
    .container
      include partials/flash
      block content

    include partials/footer

    != js('application')